$z-hole: -1;
$z-ground: 1;
$z-hill: 10;
$z-mountain: 20;
$z-atmosphere: 30;
$z-stratosphere: 40;
$z-moon: 50;
$z-mars: 60;
$z-jupiter: 70;
$z-saturn: 80;
$z-uranus: 90;
$z-pluto: 100;
$z-andromeda: 999;
